<div class="row" style="margin-top: 3%">
    <div class="col-md-4">
        <div class="card">
            <img src="~/Images/aboutUs/coffee.png" data-holder-rendered="true" alt="">
            <div class="card-body card-footer">
                <h1><b>Your Coffee</b></h1>
                <p class="card-text">Experiment. Try mini-packaged coffee in a test set, find the most delicious coffee for you, without overpaying.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/Images/aboutUs/bus.png" data-holder-rendered="true" alt="">
            <div class="card-body card-footer">
                <h1><b>Convenient storage</b></h1>
                <p class="card-text">The three-layer foil bag allows you to keep coffee in an airless environment that prevents oxygen and moisture from penetrating. This is the only way to preserve flavoring properties as long as possible.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/Images/aboutUs/about.png" data-holder-rendered="true" alt="">
            <div class="card-body card-footer">
                <h1><b>Caring service</b></h1>
                <p class="card-text">We will always advise, advise, select the best freshly roasted coffee. We will write a letter, attach a delicious gift.</p>
            </div>
        </div>
    </div>
</div>

<section id="contact">
    <div class="container">
        <h3 class="text-center text-uppercase">contact us</h3>
        <p class="text-center w-75 m-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum purus at sem ornare sodales. Morbi leo nulla, pharetra vel felis nec, ullamcorper condimentum quam.</p>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">call us</h4>
                        <p>+38077-777-77-77</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">office loaction</h4>
                        <address>Suite 02, Level 12, Sahera Tropical Center </address>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">office loaction</h4>
                        <address>Suite 02, Level 12, Sahera Tropical Center </address>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">Our email</h4>
                        <email-helper address="msurov@gmail.com" content="ourcompany@gmail.com"></email-helper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


